@font-face {
    font-family: Plus Jakarta Sans;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
    --primary-1: hsl(61, 70%, 52%);
    --primary-2: hsl(4, 69%, 50%);

    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 1rem;
}

input[type='number'] {
    width: 90%;
    margin: -0.5rem;
    height: 3rem;
    border-radius: 10px;
    border: solid 1px black

}

.results-container {
    background-color: var(--Slate-900);
    color: white;
    text-align: center;
    padding: 3rem;
}