@font-face {
  font-family: Plus Jakarta Sans;
  src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  --primary-1: hsl(61, 70%, 52%);
  --primary-2: hsl(4, 69%, 50%);

  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --Slate-999: hsl(200, 60%, 9%);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
}
@media (min-width: 1080px) {
  .app-container {
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    /* padding-bottom: 1rem; */
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  gap: 1rem;
  padding-left: 1rem;
}

@media (min-width: 1080px) {
  form {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

input[type="number"] {
  width: 100%;
  margin-left: 0.5rem;
  height: 3rem;
  border-radius: 10px;
  border: solid 1px black;
}

.prefix {
  background-color: #f2f8fc;
  padding: 14px;
  font-size: 16px;
  color: #333;
  border-right: 1px solid #ccc;
}

.suffix {
  background-color: #f2f8fc;
  padding: 14px;
  font-size: 16px;
  color: #333;
  border-right: 1px solid #ccc;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  width: 90%;

}

.input-wrapper input {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  outline: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}




.calc-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
  background-color: var(--primary-1);
  width: 90%;
  height: 3rem;
  border: none;
  font-weight: 700;
  border-radius: 30px;
}

#calculator {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.mortgage-type-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
  border: none;
  margin-left: 0.5rem;
}

.mortgage-type-field > div {
  border: solid 1px black;
  border-radius: 15px;
  height: 3rem;
  display: flex;
  align-items: center;
}

.results-container {
  background-color: var(--Slate-900);
  color: white;
  text-align: center;
  padding: 3rem;
}

.repayments {
	background-color: hsl(200, 60%, 9%);
	height: 17rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding: 1rem;
  border-radius: 15px;
  border-top: solid greenyellow 5px;
}
.monthly > span{
  color: yellowgreen;
  font-size: xx-large;
  font-weight: 900;
}

.total > span {
  font-size: x-large;
  font-weight: 900;
}

.empty-image {
  display: none;
}

.repayments > hr {
  width: 100%;
}


@media (min-width: 1080px) {
  .results-container {
    border-radius: 0 30px 30px 100px;
    padding: 8rem;
  }
}
